# systemctl edit asl-zello-bridge.service to edit environment variables, see README.md

[Service]

# Uncomment for setup.py installation
# ExecStart=/usr/local/bin/asl_zello_bridge

# Default location for pip+venv installation
ExecStart=/opt/asl-zello-bridge/venv/bin/asl-zello-bridge

Restart=always

[Install]
WantedBy=multi-user.target
