# systemctl edit asl-zello-bridge.service to edit environment variables, see README.md

[Service]
ExecStart=/usr/local/bin/asl_zello_bridge
Restart=always

[Install]
WantedBy=multi-user.target
